@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  box-sizing: border-box;
}

nav {
  box-sizing: border-box;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #007cbd;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

nav img {
  align-self: center;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-item {
  font-weight: 600;
  font-size: 14px;
}

.nav-item a {
  text-decoration: none;
  padding: 0.75rem;
}

#nav-item-register a {
  background-color: white;
  color: #007cbd;

  padding: 0.75rem 2.25rem;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  text-decoration: none;

  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

#nav-item-register a:hover {
  background-color: #007cbd;
  border: solid white 2px;
  color: white;
}

.Hero {
  top: 0;
  height: 1024px;
  background-image: url("./Picture/hero/heroBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.Hero h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 36px;
}

.Hero p {
  font-size: 14px;
  font-weight: 600;
  width: 75%;
}

.headline {
  text-align: center;
  max-width: 73%;
}

.headline-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

button {
  background-color: #3eb7dd;
  font-size: 14px;
  font-weight: 800;
  padding: 16px 20px 16px 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #007cbd;
}

.about {
  height: 420px;
  padding: 4rem 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 35px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-content h4 {
  color: #007cbd;
  font-size: 20px;
  font-weight: 700;
}
.about-content p {
  color: #1b1e28;
  font-weight: 500;
  font-size: 14px;
}

.about-media {
  display: flex;
  gap: 16px;
}

.about-media a {
  display: flex;
  color: #007cbd;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.about-media img {
  width: 21px;
  height: 21px;
}

.mechanism {
  box-sizing: border-box;
  width: 100%;
  height: 1000px;
  background-image: url("./Picture/mechanism/mechanismBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mechanism-body {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mechanism h1 {
  font-size: 48px;
  font-weight: 700;
}

.mechanism li {
  color: #1b1e28;
}

.mechanism h4,
h6 {
  color: #007cbd;
}

.mechanism-card {
  background-color: white;
  display: flex;
  align-items: flex-start;
  padding: 30px;
  border-radius: 10px;
  gap: 50px;
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.mechanism-card:hover {
  box-shadow: 0 5px 10px white;
  transform: translate(0px, -5px);
}

.mechanism-card img {
  align-self: start;
}

.mechanism-card ol {
  list-style-position: outside;
  padding-left: 1rem;
}

.mechanism-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mechanism-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mechanism-header {
  font-size: 19px;
}

.mechanism-header h4 {
  font-weight: 700;
}

.mechanism-header h6 {
  font-weight: 500;
}

.mechanism-content {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.runningLogo {
  overflow: hidden;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #f4fbff;
}

.runningLogo h5 {
  color: #007cbd;
  font-size: 18px;
  font-weight: 700;
  max-width: 45%;
  text-align: center;
}

.runningLogoImg {
  align-self: flex-start;
  overflow: hidden;
  gap: 20px;
  position: relative;
  white-space: nowrap;
}

.runningLogoImg:hover .logo-slide {
  animation-play-state: paused;
}

.logo-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
  overflow: hidden;
}

.logo-slide img {
  margin: 10px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.aggregator {
  background-color: #f4fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 10%;
}

.aggregator-content {
  /* max-width: 80%; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aggregator-content h2 {
  color: #007cbd;
  font-size: 32px;
  font-weight: 700;
}

.aggregator-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.aggregator-card {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  gap: 15px;
  margin-bottom: 35px;
}

.aggregator-card-image {
  width: 350px;
  height: 200px;
}

.aggregator-card-image {
  background-size: 101%;
  background-position: center;
  transition: background-size 0.3s ease;
  border-radius: 8px;
}

.aggregator-card:hover .aggregator-card-image {
  background-size: 110%;
}
.aggregator-card:hover h5 {
  color: #007cbd;
}

.aggregator-card > h5 {
  color: #1b1e28;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.aggregator-card > span {
  color: #7a7b7e;
  font-size: 12px;
  font-weight: 500;
}

footer {
  background-color: #007cbd;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer img {
  width: 250px;
}

.brand-media {
  display: flex;
  justify-content: space-between;
}

.brand-media p {
  max-width: 60%;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.sosmed-logo img {
  width: 21px;
}

.sosmed-logo {
  display: flex;
  justify-content: end;
  gap: 30px;
}

footer span {
  font-size: 10px;
  font-weight: 400;
}

.register {
  background-image: url("./Picture/register/registerHeader.png");
  background-color: #f4fbff;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 200px;
  gap: 50px;
}

.register h1 {
  font-size: 48px;
  font-weight: 700;
}

#register-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 640px;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 16px;
}

form input,
textarea {
  width: 100%;
  padding: 20px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 8px;
  color: black;
}
form input::placeholder,
textarea::placeholder,
label {
  color: #071424;
  font-size: 12px;
  font-weight: 400;
}

form .container {
  display: flex;
  align-items: center;
  gap: 2px;
}
form .container input {
  width: auto;
}

.side-note {
  font-size: 10px;
  font-weight: 400;
  color: #828282;
}

/* Hide the default checkbox */
.container input[type="checkbox"] {
  border: #c4c4c4;
}

#input-file-logo {
  width: 200px;
  height: 200px;
}

#logo-input-container {
  width: 200px;
  height: 200px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#logo-input-container button {
  all: initial;
}

#logo-input-container label {
  position: relative;
  top: 25%;
}

#logo-input-container:hover {
  background-color: aliceblue;
}

#logo-input-container img,
label {
  transition: transform 0.3s ease;
}

#logo-input-container:hover img {
  transform: scale(1.3);
  color: #007cbd;
}

.logo-input {
  display: flex;
  list-style-position: inside;
  align-items: center;
  gap: 40px;
}
.logo-instruction li {
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
}

.company-profile-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding-left: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.company-profile-input label {
  color: black;
  font-size: 12px;
  font-weight: 400;
}
.register button {
  background-color: #007cbd;
  padding: 20px 60px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.register button:hover {
  background-color: #3eb7dd;
}

#submit-register {
  width: 250px;
  align-self: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 4rem;
  }

  .mechanism {
    height: fit-content;
    padding: 6rem 1rem;
  }

  .mechanism-body {
    max-width: none;
    gap: 30px;
  }

  .mechanism-card {
    flex-direction: column;
    gap: 30px;
  }

  .mechanism-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .aggregator {
    padding: 6rem 5rem;
  }

  .aggregator-content {
    align-items: center;
  }

  .register {
    padding: 10rem;
    background-position: top 7% center;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 20px;
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #007cbd;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: white;
  }
  nav li {
    margin: 16px 0;
  }

  nav ul.active {
    left: 0;
    top: 70px;
  }
  .nav-menu {
    gap: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  .Hero {
    height: fit-content;
    padding: 15rem 3rem;
  }

  .Hero h4 {
    font-size: 24px;
    line-height: 2rem;
  }
  .Hero h1 {
    font-size: 36px;
  }
  .Hero p {
    font-size: 12px;
    width: fit-content;
  }

  .Hero .headline {
    max-width: none;
    text-align: start;
  }
  .Hero .headline-text {
    align-items: start;
  }

  .about {
    flex-direction: column;
    height: fit-content;
    padding: 6rem 1rem;
  }

  .mechanism h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .runningLogo {
    padding: 6rem 1rem;
    height: fit-content;
  }

  .runningLogo h5 {
    max-width: none;
  }

  .aggregator {
    padding: 6rem 1rem;
  }

  .aggregator-content {
    align-items: center;
  }

  .aggregator h2 {
    font-size: 24px;
  }

  .aggregator-card {
    max-width: 300px;
  }
  .aggregator-card-image {
    width: 300px;
    height: 170px;
  }

  footer {
    padding: 4rem 2.5rem;
  }

  .brand-media {
    flex-direction: column;
    gap: 1.5rem;
  }
  .sosmed-logo {
    justify-content: flex-start;
  }

  .brand-media p {
    max-width: none;
    font-size: 12px;
  }

  footer img {
    width: 12rem;
  }

  .register {
    padding: 10rem 1rem;
    padding-bottom: 5rem;
    background-position: top 5% center;
    background-size: 200%;
  }

  #register-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 600px) {
  .register {
    gap: 1.5rem;
  }
  .register h1 {
    font-size: 36px;
  }

  .logo-input {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #logo-input-container {
    width: 100%;
  }

  .company-profile-input {
    flex-direction: column;
  }

  .register button {
    width: 100%;
  }

  .company-profile-input {
    padding: 1.5rem;
    gap: 2rem;
  }
  #submit-register {
    width: 100%;
  }

  #register-form {
    gap: 1.5rem;
  }

  form input::placeholder,
  textarea::placeholder,
  label {
    font-size: 10px;
  }
}
