@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  box-sizing: border-box;
}

nav {
  box-sizing: border-box;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #007cbd;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

nav img {
  align-self: center;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-item {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

.Hero {
  top: 0;
  height: 1024px;
  background-image: url("./Picture/hero/heroBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.Hero h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 36px;
}

.Hero p {
  font-size: 14px;
  font-weight: 600;
  width: 75%;
}

.headline {
  text-align: center;
  max-width: 73%;
}

.headline-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

button {
  background-color: #3eb7dd;
  font-size: 14px;
  font-weight: 800;
  padding: 16px 20px 16px 20px;
  border-radius: 5px;
  border: none;
}

.about {
  height: 420px;
  padding: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 35px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-content h4 {
  color: #007cbd;
  font-size: 20px;
  font-weight: 700;
}
.about-content p {
  color: #1b1e28;
  font-weight: 500;
  font-size: 14px;
}

.about-media {
  display: flex;
  gap: 16px;
}

.about-media a {
  display: flex;
  color: #007cbd;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.about-media img {
  width: 21px;
  height: 21px;
}

.mechanism {
  box-sizing: border-box;
  width: 100%;
  height: 1000px;
  background-image: url("./Picture/mechanism/mechanismBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mechanism-body {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mechanism h1 {
  font-size: 48px;
  font-weight: 700;
}

.mechanism li {
  color: #1b1e28;
}

.mechanism h4,
h6 {
  color: #007cbd;
}

.mechanism-card {
  background-color: white;
  display: flex;
  align-items: flex-start;
  padding: 30px;
  border-radius: 10px;
  gap: 50px;
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.mechanism-card:hover {
  box-shadow: 0 5px 10px white;
  transform: translate(0px, -5px);
}

.mechanism-card img {
  align-self: start;
}

.mechanism-card ol {
  list-style-position: outside;
}

.mechanism-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mechanism-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mechanism-header {
  font-size: 19px;
}

.mechanism-header h4 {
  font-weight: 700;
}

.mechanism-header h6 {
  font-weight: 500;
}

.mechanism-content {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.runningLogo {
  overflow: hidden;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #f4fbff;
}

.runningLogo h5 {
  color: #007cbd;
  font-size: 18px;
  font-weight: 700;
  max-width: 45%;
  text-align: center;
}

.runningLogoImg {
  align-self: flex-start;
  overflow: hidden;
  gap: 20px;
  position: relative;
  white-space: nowrap;
}

.runningLogoImg:hover .logo-slide {
  animation-play-state: paused;
}

.logo-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
  overflow: hidden;
}

.logo-slide img {
  margin: 10px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.aggregator {
  background-color: #f4fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 2em;
}

.aggregator-content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aggregator-content h2 {
  color: #007cbd;
  font-size: 32px;
  font-weight: 700;
}

.aggregator-card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.aggregator-card {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  gap: 15px;
  margin-bottom: 35px;
}

.aggregator-card > h5 {
  color: #1b1e28;
  font-size: 14px;
  font-weight: 700;
}

.aggregator-card > span {
  color: #7a7b7e;
  font-size: 12px;
  font-weight: 500;
}

footer {
  background-color: #007cbd;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer img {
  width: 250px;
}

.brand-media {
  display: flex;
  justify-content: space-between;
}

.brand-media p {
  max-width: 60%;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.sosmed-logo img {
  width: 21px;
}

.sosmed-logo {
  display: flex;
  justify-content: end;
  gap: 30px;
}

footer span {
  font-size: 10px;
  font-weight: 400;
}
